body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} a {
    text-decoration: none;
} li {
    list-style: none;
} @keyframes inputFocus {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0);
    }
} @keyframes btn {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0);
    }
} .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg , rgb(255, 79, 79) 15%, rgb(56, 255, 172), rgb(38, 241, 255));
} .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 550px;
    height: 550px;
    border-radius: 36px;
} .inp {
    width: 300px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid gray;
    padding: 10px;
    font-size: 16px;
    transition: all 1s;
} .inp:focus {
    outline: none;
    animation: inputFocus 1s forwards;
    border: 2px solid blue;
} .btn {
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 1s;
} .btn:hover {
    animation: btn 1s forwards;
    background-color: darkblue;
} @media only screen and (max-width: 500px) {
    .container {
        width: 90%;
        height: auto;
        padding: 40px;
    }
    .inp {
        width: 100%;
    }
    button {
        width: 100%;
    }
}