body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} a {
    text-decoration: none;
} li {
    list-style: none;
} .header {
    width: 100%;
    height: 120px;
    background-color: rgb(255, 255, 255);
} .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: auto;
    background-color: rgb(240, 240, 240);
    width: 55%;
    height: 120px;
    border-radius: 24px;
    padding: 0 140px 0 100px;
} .cont {
    display: flex;
    align-items: center;
    gap: 40px;
} .user-box {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
} .user {
    width: 50px;
    height: 50px;
    color: gray;
} .box {
    display: flex;
    align-items: center;
    gap: 5px;
} .title {
    font-size: 40px;
    font-weight: bold;
    color: rgb(54, 230, 253);
} .text {
    font-size: 30px;
    font-weight: bold;
    color: rgb(253, 195, 68);
} .list {
    display: flex;
    align-items: center;
    gap: 55px;
} .items {
    font-size: 20px;
    font-weight: bold;
    color: rgba(48, 48, 48, 0.548);
} .burger {
    display: none;
} @media only screen and (max-width: 500px) {
    .container {
        width: 90%;
        padding: 0 20px;
    }
    .box {
        display: none;
    }
    .list {
        display: none;
    }
    .burger {
        display: block;
        font-size: 30px;
        cursor: pointer;
        color: rgb(48, 48, 48);
    } .line {
        width: 30px;
        height: 4px;
        background-color: rgb(48, 48, 48);
        margin: 6px 0;
        border-radius: 12px;
    }
}
